@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

<div class="oneSushi">
    <h2>Cheese Pizza </h2>
    <img src="https://i.ibb.co/JsmhfSm/shrimp.jpg" />
    <p> $40</p>
    <h2>Yummy Pizza!</h2>
    <a href="#">More info</a>
</div>
